<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      JasonZJacobs.com
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card>
    <img src="assets/onusbs-man.png" alt="onusbs-man"/>
    <ion-card-header>
      <ion-card-title>JasonZJacobs.com</ion-card-title>
      <ion-card-subtitle>onumbus man is a register trademark of Jason Jacobs</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      Jason is always innovating and striving for new heights.
    </ion-card-content>
  </ion-card>
</ion-content>
